<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Trabajo_Practico_3-Complejidad_Computacional/src/tp3/GeneradorDePolinomios.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tp3.GeneradorDePolinomios"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Trabajo_Practico_3-Complejidad_Computacional"/>
</launchConfiguration>
